n8n_rag_analytics_agent/agent.json
{
  "name": "Document Upload RAG Chatbot with Pinecone and Daily Analytics",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Upload Documents for RAG",
        "formDescription": "Upload PDF, CSV, or JSON files to add to the knowledge base",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Upload Files",
              "fieldType": "file",
              "acceptFileTypes": ".pdf,.csv,.json"
            }
          ]
        },
        "options": {
          "appendAttribution": false,
          "buttonLabel": "Upload Documents"
        }
      },
      "id": "096e0ee8-28e0-49a3-880d-84a27c371f56",
      "name": "Document Upload Form",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -784,
        96
      ],
      "webhookId": "4118e3cb-5a11-417b-a62f-7a217955568a"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "pineconeIndex",
              "value": "rag_app",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "chatTableName",
              "value": "chat_interactions",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "formTableName",
              "value": "form_submissions",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "chunkSize",
              "value": 1000,
              "type": "number"
            },
            {
              "id": "id-5",
              "name": "chunkOverlap",
              "value": 200,
              "type": "number"
            },
            {
              "id": "id-6",
              "name": "topK",
              "value": 5,
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "cba04ce8-14e3-45c3-92db-be1982d073a1",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -288,
        96
      ]
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "QqFggJB3dkWuV9Xg",
          "mode": "list",
          "cachedResultName": "upload_files_info",
          "cachedResultUrl": "/projects/QMSxTgtE3hTNLEXU/datatables/QqFggJB3dkWuV9Xg"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "filename": "={{ $json['Upload Files'][0].filename }}",
            "mimetype": "={{ $json['Upload Files'][0].mimetype }}",
            "size": "={{ $json['Upload Files'][0].size }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "filename",
              "displayName": "filename",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "mimetype",
              "displayName": "mimetype",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "size",
              "displayName": "size",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "optimizeBulk": false
        }
      },
      "id": "e0e6300c-099c-4394-9265-487cdb35ff62",
      "name": "Store Form Submissions",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        128,
        0
      ]
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "Upload_Files",
        "options": {}
      },
      "id": "467832b4-750c-4bdd-8aac-b66204d6e7a9",
      "name": "Extract Text from Files",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        128,
        192
      ]
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.text }}",
        "options": {}
      },
      "id": "fabf48c8-332d-412a-b11a-7bde154885c8",
      "name": "Document Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        480,
        416
      ]
    },
    {
      "parameters": {
        "options": {
          "dimensions": 512
        }
      },
      "id": "df73bf9a-6064-4cda-9721-a874f7e427ad",
      "name": "OpenAI Embeddings",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        352,
        416
      ],
      "credentials": {
        "openAiApi": {
          "id": "fe684GQHgZxhLBYS",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "rag-test",
          "mode": "list",
          "cachedResultName": "rag-test"
        },
        "options": {}
      },
      "id": "eacb97fd-2919-449a-8163-c2061bd9ae8d",
      "name": "Pinecone Insert Documents",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        384,
        192
      ],
      "credentials": {
        "pineconeApi": {
          "id": "JGOpQMjUoCIf6emY",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "public": true,
        "options": {
          "loadPreviousSession": "memory"
        }
      },
      "id": "c0fa2ac9-6926-4c53-bdd8-8dfa65693471",
      "name": "Chat Trigger",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -848,
        432
      ],
      "webhookId": "a7758958-0102-4111-9679-6cb9ed7cb0d1"
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "id": "c3bca748-5b41-41bd-a316-76ecfa8e3ead",
      "name": "Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -368,
        560
      ]
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Search through uploaded documents to find relevant information. Use this tool to answer questions based on the document knowledge base.",
        "pineconeIndex": {
          "__rl": true,
          "value": "rag-test",
          "mode": "list",
          "cachedResultName": "rag-test"
        },
        "topK": 3,
        "options": {}
      },
      "id": "5656d5a1-513c-4251-aa1c-6b25e0dd0816",
      "name": "Pinecone Retrieve Tool",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -240,
        560
      ],
      "credentials": {
        "pineconeApi": {
          "id": "JGOpQMjUoCIf6emY",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "3a73c179-742c-4780-a2af-20ce28e81a2a",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -1056,
        624
      ],
      "credentials": {
        "openAiApi": {
          "id": "fe684GQHgZxhLBYS",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are a helpful AI assistant that answers questions based on uploaded documents.\n\nYour task is to:\n1. Use the document_search tool to find relevant information from the knowledge base\n2. Answer questions using ONLY the information retrieved from the documents\n3. If the retrieved documents do not contain enough information to answer confidently, respond with: \"I couldn't find that in the uploaded documents.\"\n4. Be concise and accurate in your responses\n5. Cite specific information from the documents when possible\n\nRemember: Only use information from the document search results. Do not make up or infer information that is not explicitly in the documents."
        }
      },
      "id": "5344ab37-cf0f-4ae5-b3f9-ab206ad637ec",
      "name": "RAG Chatbot Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -432,
        336
      ]
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "xxfZMa6kuEYDmNX8",
          "mode": "list",
          "cachedResultName": "converstaions",
          "cachedResultUrl": "/projects/QMSxTgtE3hTNLEXU/datatables/xxfZMa6kuEYDmNX8"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "output": "={{ $json.output }}"
          },
          "matchingColumns": [
            "output"
          ],
          "schema": [
            {
              "id": "output",
              "displayName": "output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "628e3557-c5eb-4147-832c-78b246e1f1e1",
      "name": "Log Chat Interactions",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        128,
        432
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "494b3e8a-de43-495e-b2ea-3a0d0ab6b9bb",
      "name": "Daily Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -848,
        768
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "xxfZMa6kuEYDmNX8",
          "mode": "list",
          "cachedResultName": "converstaions",
          "cachedResultUrl": "/projects/QMSxTgtE3hTNLEXU/datatables/xxfZMa6kuEYDmNX8"
        },
        "returnAll": true
      },
      "id": "682a99c9-90c3-4e4a-945a-d83b0c825209",
      "name": "Get Chat Logs",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -624,
        768
      ]
    },
    {
      "parameters": {
        "jsCode": "const logs = $input.all();\n\nif (logs.length === 0) {\n  return [{\n    json: {\n      totalQuestions: 0,\n      summary: 'No chat interactions in the last 24 hours',\n      topFiles: [],\n      failedLookups: 0\n    }\n  }];\n}\n\nconst totalQuestions = logs.length;\nconst failedLookups = logs.filter(log => \n  log.json.bot_response?.includes(\"couldn't find that in the uploaded documents\")\n).length;\n\n// Extract file references from responses (this is a simplified approach)\nconst fileReferences = {};\nlogs.forEach(log => {\n  const response = log.json.bot_response || '';\n  // Count as file reference if response doesn't contain the failure message\n  if (!response.includes(\"couldn't find that in the uploaded documents\")) {\n    fileReferences['documents'] = (fileReferences['documents'] || 0) + 1;\n  }\n});\n\nconst topFiles = Object.entries(fileReferences)\n  .sort((a, b) => b[1] - a[1])\n  .slice(0, 5)\n  .map(([file, count]) => ({ file, count }));\n\nreturn [{\n  json: {\n    totalQuestions,\n    topFiles,\n    failedLookups,\n    successRate: ((totalQuestions - failedLookups) / totalQuestions * 100).toFixed(1) + '%',\n    period: 'Last 24 hours'\n  }\n}];"
      },
      "id": "3e8643f9-e8b4-42ba-8e28-1fb7130d78b1",
      "name": "Analyze Chat Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        768
      ]
    },
    {
      "parameters": {
        "sendTo": "raswathgcpde1@gmail.com",
        "subject": "=Daily RAG Chatbot Summary - {{ $now.toFormat(\"yyyy-MM-dd\") }}",
        "message": "=<h2>Daily RAG Chatbot Summary</h2>\n<p><strong>Period:</strong> {{ $json.period }}</p>\n<p><strong>Total Questions Asked:</strong> {{ $json.totalQuestions }}</p>\n<p><strong>Success Rate:</strong> {{ $json.successRate }}</p>\n<p><strong>Failed Lookups:</strong> {{ $json.failedLookups }}</p>\n\n<h3>Top Referenced Files</h3>\n<ul>\n{{ $json.topFiles.map(f => `<li>${f.file}: ${f.count} references</li>`).join(\"\") }}\n</ul>\n\n<p><em>Generated automatically by n8n RAG Chatbot</em></p>",
        "options": {}
      },
      "id": "42ec9d19-9cbd-4b30-a211-332a7b1458e9",
      "name": "Send Daily Summary Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -176,
        768
      ],
      "webhookId": "d61a7123-2047-4a6e-9d19-09c328766a08",
      "credentials": {
        "gmailOAuth2": {
          "id": "YXElRyX9mBUXLhZR",
          "name": "Gmail account 3"
        }
      }
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -656,
        592
      ],
      "id": "67f5beba-1179-42df-83b4-e03998e469fb",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "lv3UfjsbqEc0RHcu",
          "name": "Groq account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Document Upload Form": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "Store Form Submissions",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract Text from Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Text from Files": {
      "main": [
        [
          {
            "node": "Pinecone Insert Documents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Document Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Insert Documents",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Embeddings": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Insert Documents",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Pinecone Retrieve Tool",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Chat Trigger",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "RAG Chatbot Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "RAG Chatbot Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Retrieve Tool": {
      "ai_tool": [
        [
          {
            "node": "RAG Chatbot Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "RAG Chatbot Agent": {
      "main": [
        [
          {
            "node": "Log Chat Interactions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily Schedule": {
      "main": [
        [
          {
            "node": "Get Chat Logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Chat Logs": {
      "main": [
        [
          {
            "node": "Analyze Chat Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Chat Data": {
      "main": [
        [
          {
            "node": "Send Daily Summary Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "RAG Chatbot Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f880724c-62b4-417d-9c6f-a68129ac1a75",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "eb329becfee4e0204a0f4c34d4fb4a25982b5cb7e31c95d67bb9db8603767bdb"
  },
  "id": "QMV5K2f5wWo7limb",
  "tags": []
}